

.account-name-ope-tab .info{
	display: none;
	margin-left: 1em;
	font-size: 0.6em;
	font-weight: 400;
}

.account-name-ope-tab:hover .info{
	display: inline;
}

.account-name-ope-tab:hover .name{
	background: rgb(215, 231, 255);
	border-radius: 10px;
	padding: 5px;
}

.ope-tab .credit{
	color:green;
}

.ope-tab .debit{
	color:red;
}

#graphs{
	width:100%;
	height:400px;
}

.add-debit{
	height: 35px;
	vertical-align : middle;
	text-align : center;
	width: 25%;
	float : right;
	position : relative;
	right: 12%;

}

.add-credit{
	height: 35px;
	vertical-align : middle;
	text-align : center;
	float : left;
	width: 25%;
	position : relative;
	left: 12%;
} 

.add-op-btn span{
	background-color: #428bca !important;
	color: white;
	cursor: pointer;
}

.add-op-btn span:hover{
	background-color: rgb(111, 172, 223) !important;
}
