<% if (accounts.length == 0) { %>
    <h2 class="text-center text-muted">Aucun compte n'a été trouvé</h2>
<% }else{ %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Compte</th>
        <th>Nom</th>
        <th>Solde</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  	<% _.each(accounts, function(account, cpt) { %>
      <a href="#/account/<%= account.get("account_id") %>">
      <tr>
        <!-- account_id  type_id operation_date  operation_name  operation_desc  is_credit value -->
        <td><%= cpt+1 %></td>
        <td><%= a.get("account_id") %></td>
        <td><%= account.get("account_name") %></td>
        <td>3600</td>
        <td>delete</td>
      </tr>
      </a>
    <% }); %>
    </tbody>
  </table>
</div>
<% } %>