<h1 class="page-header">Suivi budget</h1>
<form class="graph-form form-horizontal">
  <p class="error-msg"></p>
	<div class="form-group">
		<select type="number" placeholder="Sélectionnez le compte" name="list_account" class="form-control" required>
		<% if (accounts.length == 0) { %>
			<option value=""> Aucun compte disponible</option>
		<% }else{ %>
			<% _.each(accounts, function(account, cpt) { %>
				<option value="<%= account.get("account_id") %>"><%= account.get("account_name") %></option>
			<% }); %>
		<% } %>
	</select>

	<input type="number" name="limit" class="form-control" placeholder="Nombre maximum d'opérations">
	</div>
	<label class="checkbox-inline">
		<input type="radio" name="duration" class="hide-cal" value="current" checked> 
		Mois courant
	</label>
	<label class="checkbox-inline">
		<input type="radio" name="duration" class="hide-cal" value="future">
		 Opérations à venir
	</label>
	<label class="checkbox-inline">
		<input type="radio" name="duration" class="hide-cal" value="all"> 
		Toutes
	</label>
	<label class="checkbox-inline">
		<input type="radio" name="duration" class="display-cal" value="manuel"> 
		Sélection manuel
    </label>
    <div class="form-group calendars">
    	<input type="date" class="form-control" name="begin" placeholder="Début (jj/mm/aaaa)">
    	<input type="date" class="form-control" name="end" value="Fin (jj/mm/aaaa)">
    </div>

  <p class="text-center"><button type="submit" class="btn btn-primary btn-lg">Générer</button>
<hr>

<div id="graphs"></div>

</form>