<h1 class="page-header">Détail compte</h1>

<p class="error-msg"></p>
<h2 class="sub-header account-name-ope-tab"><span class="name"><%= object.account_name %></span><span class="info text-muted">Cliquez pour modifier</span></h2>
<h3>Solde : <%= object.balance %> €</h3>
<div id="graphs"></div>


<% var operations = object.models; %>
<% console.log(object.account_name); %>
<% if (operations.length == 0) { %>
    <h2 class="text-center text-muted">Aucune opération n'a été trouvée</h2>
<% }else{ %>
<div class="table-responsive">
  <table class="table table-striped ope-tab">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Type</th>
        <th>Nom</th>
        <th>credit</th>
        <th>debit</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
    <% _.each(operations, function(operation, cpt) { %>
      <tr>
        <!-- account_id  type_id operation_date  operation_name  operation_desc  is_credit value -->
        <td><%= cpt+1 %></td>
        <td><%= operation.get("operation_date") %></td>
        <td><%= operation.get("type_name") %></td>
          <td><%= operation.get("operation_name") %></td>
        <% if (operation.get("is_credit") == 1) {%>
          <td class='credit'><%= operation.get("value") %></td>
          <td></td>
        <%}else{%>
          <td></td>
          <td class='debit'><%= operation.get("value") %></td>
        <% } %>
          <td><%= operation.get("operation_desc").replace(/(^|\W)#([a-z\d][\w-]*)/ig, '<a class=\"hashtag-opetab\" href=\"#/$2\"> #$2</a>') 

          %></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>
<% } %>